.direnv/
.github/
.husky/
.vscode/
.idea/
coverage/
docs/
node_modules/
tmp/
.envrc
.eslintcache
.prettierignore
CODE_OF_CONDUCT.md
esbuild.config.js
eslint.config.mjs
jest.config.js
jsdoc.config.json
shell.nix
VERSION
